html, body {
    background-color:  #181717;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
* { padding: 0; margin: 0}

body {
    color: white;
    font-family: Gilam, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
}

