h1 { font-size: 50px}

article {
    margin: 14ex auto 0;
    line-height: 1.4;
    max-width: 1460px;
}

.container_call {
    display: inline-flex;
    text-decoration: none;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color:black;
    position: sticky;
    opacity: 0.8;
    top: 0;
    z-index: 1;
    padding: 0 9em;
}

.button {
    display: block;
    background-color: inherit;
    border: 1px solid #E4B564;
    padding: 13px 28px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #E4B564;
    position: absolute;
    font-size: 18px;
    font-family: 'Circe', sans-serif;
    right: 11rem;
}

.button:hover {
    background-color: rgba(141, 134, 108, 0.253);
}

.button:active {
    background-color: rgba(240, 255, 255, 0.247);
    transform: translateX(-3px);
}

.container {
    max-width: 1460px;
    margin: 70px auto;
}

.grid-item-A {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.grid_A { 
    display: grid;
    grid-template-rows: 468px 468px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 34px;
    grid-template-areas:
    "one one two two three three"
    "four four four five five five"
  }

.A-one {
    grid-area: one;
    background-color: #634F2C;
}

.A-two {
    grid-area: two;
    background-color: #B4A385;
}

.A-three {
    grid-area: three;
    background-color: #E4B564;
}

.A-four {
    grid-area: four;
    background-color: #635A4A;
}

.A-five {
    grid-area: five;
    background-color: #B08C4D;
}

.grid_A div a {
    display: block;
    text-align: center;
}

div a:active {
    background-color: rgba(255, 255, 254, 0.562);
}

.grid_A div:hover {
 transform: scale(1.01);
}

.grid-item-B {
    align-items: start;
    padding: 50px 50px;
}

.grid_B {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    margin-bottom: 120px;
    grid-template-areas:
    "B_one B_two B_three"
    "B_one B_two B_three"
    "B_four B_two B_six"
    "B_four B_five B_six"
    "B_four B_five B_seven"
    "B_four B_five B_seven"
}

.B-one {
    grid-area: B_one;
    background-color: #0E0E0E;
    height: 313px;
    margin-bottom: -53px;
}

.B-two {
    grid-area: B_two;
    background-color: #242424;
    height: 439px;
}

.B-three {
    grid-area: B_three;
    background-color: #1F1F1F;
    height: 255px;
}

.B-four {
    grid-area: B_four;
    background-color: #1F1F1F;
    height: 560px;
    margin-top: 53px;
}

.B-five {
    grid-area: B_five;
    background-color: #E4B564;
    height: 438px;
}

.B-six {
    grid-area: B_six;
    background-color: #0E0E0E;
    height: 313px;
}

.B-seven {
    grid-area: B_seven;
    background-color: #0A0909;
    height: 269px;
}

.grid_B div:hover {
    transform: scale(1.03);
}

.grid_C {
    display: grid;
    grid-template-rows: 391px 391px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: 
    "C_one C_two C_three"
    "C_four C_five C_six"
}

.C-one {
    grid-area: C_one;
    background-color: #634F2C;
}

.C-two {
    grid-area: C_two;
    background-color: #E8D2ABC2;
    position: relative;
}

.hidden-address {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 57%;
    bottom: 5px;
    padding: 10px;
    display: none;
}

.C-two:hover .hidden-address {
    display: block;
}

.C-three {
    grid-area: C_three;
    background-color: #E4B564;
}

.C-four {
    grid-area: C_four;
    background-color: #635A4A;
}

.C-five {
    grid-area: C_five;
    background-color: #B08C4D;
}

.C-six {
    grid-area: C_six;
    background-color: #634F2C;
}

.projects {
    display: flex;
    height: 100px;
    align-items: center;
    padding-top: 80px;
}

.black-container {
    background-color: #0A0909;
}

.grid-item-C {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.grid_C div:hover {
    transform: scale(1.01);
}

footer {
    height: 100px;
}

